.videoDetails { 
    vertical-align: middle;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ddd;
    color: white;
}

.accordion {
    width: 100%;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.accordion.active {
    background-color: lightblue;
}

.accordion:hover {
    background-color: lightblue;
}

.channelSubCount, .channelName {
    border-right: 1px solid black;
    height: 100%;
}

.accordion_icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(90deg);
}

.videoTitle, .videoViewCount, .videoLikeCount, th, .videoDislikeCount, .videoCommentCount, .videoVideoScore, .videoTime, .videoID, .videoChecker {
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    font-size: 50;
}

.videoInformation {
    background-color: #282c34;
}

.videoInformation:hover {
    background-color:#01DFD7;
    color: #282c34;
    font-style: bold;
}

.videoHeader {
    background-color: #FF0040;
}

a {
    color: white;
}

.accordion_content {
    justify-items: center;
    overflow: hidden;
}

.channelDetails {
    width: 95%;
}

.channelSubCount, .channelVideoCount, .channelName, .chevron {
    text-align: center;
}