* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
}

.App {
  background-color: #282c34;
  color: #61dafb;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ChannelsList {
  list-style-position: outside;
  border: 1px solid #61dafb;
  padding: 5px;
  width: 100%;
}

.increaseNumber {
  color: #4CC417;
}

.decreaseNumber {
  color: #F70D1A;
}

.sameNumber {
  color: #842DCE;
}

.ChannelName {
  margin-right: 100px;
  margin-left: 60 px;
  
}

.subCount {
  margin-right: 60px;
  text-align: left;
}

.videoCount {
  margin-right: 40px;
  
}

.lastUpdate {
  float: center;
  text-align: center;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainTitle {
  padding-top: 20px;
}

.lastUpdate {
  padding-bottom: 20px;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h3 {
  margin-bottom: 0;
}